@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #000000;
  --beige: #f5f5dc;
  --grey: #ababab;
}

@theme inline {
    --color-grey: var(--grey);
    --color-white: var(--white);
    --color-black: var(--black);
    --color-beige: var(--beige);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #ffffff;
    --black: #000000;
    --beige: #f5f5dc;
    --grey: #ababab;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
